h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}

.container-fluid {
    padding: 7% 15%;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Navbar */

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 200;
}

.down-btn {
    margin: 5% 3% 5% 0;
}

/* Title */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

.title-image {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

/* Features */

#features {
    position: relative;
}

.feature-box {
    padding: 4.5%;
}

.features-title {
    font-size: 2rem;
}

p {
    color: #8f8f8f;
}

.icon {
    color: #ef8172;
    margin: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* testimonials */
#testimonials {
    background-color: #ef8172;
    color: #ffffff;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* press */
#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* carousel */
.carousel-item {
    padding: 7% 15%;
}

/* pricing */
.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}

#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

/* cta */

.cta-h3 {
    font-style: 'Montserrat';
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

.bottom-icons {
    padding: 7% 1% 2%;
}

.copyright {
    padding-bottom: 2%;
}

/* Sections */
.coloured-section{
    background-color: #ff4c68;
    color: #ffffff;
}

.white-section{
    background-color: #ffffff;
    color: #000000;
}

/* Media Query Breakpoint */
@media (max-width: 1028px) {
    #title .container-fluid {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
        width: 50%;
    }
}